<div class="container">
    <h1 class="forget">Restablecimiento de contraseña</h1>
    <div class="box-form-forget">
        <form action="/api/sessions/forget-password" method="post">
            
            <label for="email">Correo electrónico:</label>
            <input type="text" id="email" name="email" required>
            
            <button class="btn btn-outline-primary" type="submit">Restablecer contraseña</button>
        </form>
    </div>

</div>