<link rel="stylesheet" href="css/styles.css">

<div class="container">
    <h1 class="reset">Crea una nueva contraseña</h1>
    <div class="box-form-reset">
        <form action="/api/sessions/reset-password/{{ this.user }}" method="post">

            <label for="newPassword">Nueva contraseña:</label>
            <input type="text" id="newPassword" name="newPassword" required>

            <button class="btn btn-outline-primary" type="submit">Cambiar contraseña </button>
        </form>
    </div>

</div>
