@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.box-inicio .marcas {
  text-align: center;
  justify-content: space-between;
}
.box-inicio .marcas div a {
  text-decoration: none;
}
.box-inicio .marcas div a img {
  width: 98px;
  margin: 15px;
}
.box-inicio .box-destacados .box-destacados-1 .featured-products .product-card-inicio {
  width: 190px;
  height: 254px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.box-inicio .box-destacados .box-destacados-1 .featured-products .product-card-inicio .card-img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.box-inicio .box-destacados .box-destacados-1 .featured-products .product-card-inicio .card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.box-inicio .box-destacados .box-destacados-1 .featured-products .product-card-inicio .card-info {
  padding-top: 10%;
}
.box-inicio .box-destacados .box-destacados-1 .featured-products .product-card-inicio .card-info .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}
.box-inicio .box-destacados .box-destacados-1 .featured-products .product-card-inicio .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.box-inicio .box-destacados .box-destacados-1 .featured-products .product-card-inicio .card-footer .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}
.box-inicio .box-destacados .box-destacados-1 .featured-products .product-card-inicio .card-footer .card-button svg {
  width: 20px;
  height: 20px;
}
.box-inicio .box-destacados .box-destacados-1 .featured-products .product-card-inicio .card-footer .card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

.splide__slide {
  padding: 1rem;
  text-align: center;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body ul,
body li {
  margin: 0;
  padding: 0;
}

body h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.bg-wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}

/* Section-1 Styles */
#section-1 {
  max-height: 500px;
  color: #fff;
  background-color: #222;
}

#section-1 .content-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

#section-1 .content-slider input {
  display: none;
}

#section-1 .content-slider .slider {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

#section-1 .content-slider .slider .banner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  width: inherit;
  height: inherit;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.5s ease;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper {
  height: 100%;
  background-image: linear-gradient(rgba(248, 152, 42, 0.9), rgba(41, 40, 39, 0.9));
  box-sizing: border-box;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 1.5em;
  text-transform: none;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
  font-size: 3em;
  line-height: 90%;
}

#section-1 .content-slider .slider #top-banner-1 {
  background: url("https://res.cloudinary.com/dgvz62cer/image/upload/v1698938279/IMG-20230531-WA0035_f8f1lr.jpg") no-repeat center center;
  background-size: cover;
}

#section-1 .content-slider .slider #top-banner-2 {
  background: url("https://res.cloudinary.com/dgvz62cer/image/upload/v1698938279/IMG-20230531-WA0035_f8f1lr.jpg") no-repeat center center;
  background-size: cover;
}

#section-1 .content-slider .slider #top-banner-3 {
  background: url("https://res.cloudinary.com/dgvz62cer/image/upload/v1698938280/IMG-20230531-WA0041_wuoe3a.jpg") no-repeat center center;
  background-size: cover;
}

#section-1 .content-slider .slider #top-banner-4 {
  background: url("https://res.cloudinary.com/dgvz62cer/image/upload/v1698938280/IMG-20230531-WA0043_sjrh0m.jpg") no-repeat center center;
  background-size: cover;
}

#section-1 .content-slider nav {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  z-index: 10;
  text-align: center;
}

#section-1 .content-slider nav .controls {
  display: block;
  width: 70%;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

#section-1 .content-slider nav .controls label {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 3.1em;
  overflow: hidden;
  margin: 0 1em;
  padding-top: 1em;
  text-align: left;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  color: #f6eac5;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}

#section-1 .content-slider nav .controls label .progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #f6eac5;
  z-index: 100;
}

#section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
  position: inherit;
  width: inherit;
  height: inherit;
  margin-left: -100%;
  background: #fc8414;
}

#section-1 .content-slider nav .controls label span {
  font-size: 1.4em;
  font-weight: 700;
}

#section-1 .content-slider nav .controls label:hover {
  color: #fc8414;
}

#section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
#section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
#section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
#section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
  opacity: 1;
  z-index: 1;
}

#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1),
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2),
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3),
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
  cursor: default;
  color: #fff;
  transition: all 0.5s;
}

#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
  background: #fff;
}

#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
  animation: progressBarFill 5s linear;
}

/* Animations */
@keyframes progressBarFill {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
/* Media Queries */
@media only screen and (min-width: 1920px) {
  body {
    font-size: 22px;
  }
  #section-1 {
    height: 46em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 12em;
  }
}
@media only screen and (max-width: 1919px) {
  body {
    font-size: 20px;
  }
  #section-1 {
    height: 43em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 11em;
  }
}
@media only screen and (max-width: 1680px) {
  body {
    font-size: 18px;
  }
  #section-1 {
    height: 40em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 9em;
  }
}
@media only screen and (max-width: 1366px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1120px) {
  #section-1 {
    height: 35em;
  }
  #section-1 .content-slider nav {
    bottom: -0.2em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 7em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    margin: 2em auto;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  #section-1 .content-slider nav {
    bottom: 0;
  }
  #section-1 .content-slider nav .controls {
    width: 80%;
  }
}
@media only screen and (max-width: 860px) {
  #section-1 {
    height: 29em;
  }
  #section-1 .content-slider nav {
    bottom: -1em;
  }
  #section-1 .content-slider nav .controls {
    width: 90%;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-size: 2em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 4.5em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 5em;
  }
}
@media only screen and (max-width: 768px) {
  #section-1 {
    height: 27em;
  }
  #section-1 .content-slider nav .controls {
    width: 100%;
  }
  #section-1 .content-slider nav .controls label {
    width: 19%;
    font-size: 0.8em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    margin: 1.7em auto;
  }
}
@media only screen and (max-width: 480px) {
  #section-1 {
    height: 26em;
  }
  #section-1 .content-slider nav {
    bottom: -0.5em;
  }
  #section-1 .content-slider nav .controls label {
    width: 40%;
    font-size: 0.7em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-size: 1.5em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 3em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    margin: 1.7em auto;
  }
}
.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.paginate .prevNext {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.realTimeProducts h1 {
  text-align: center;
}
.realTimeProducts .box-form {
  text-align: center;
  gap: 10px;
  margin-top: 20px;
}
.realTimeProducts .box-form input {
  border-radius: 10px;
}
.realTimeProducts .box-form .box-form-add {
  display: flex;
  flex-direction: column;
}
.realTimeProducts .box-form .box-form-add .formProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.realTimeProducts .box-form .box-form-add .formProducts .name {
  width: 100%;
}
.realTimeProducts .box-form .box-form-add .formProducts .description {
  width: 100%;
}
.realTimeProducts .box-form .box-form-add .formProducts .thumbnail {
  width: 100%;
}
.realTimeProducts .box-form .box-form-add .formProducts button {
  margin-top: 10px;
  width: 200px;
}
.realTimeProducts .box-form .box-form-delet .box-form-delet-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.realTimeProducts .box-form .box-form-delet .box-form-delet-1 .delete-id {
  width: 100%;
}
.realTimeProducts .box-form .box-form-delet .box-form-delet-1 button {
  margin-top: 93px;
  width: 200px;
}

.box-products-realTime {
  margin-top: 20px;
}

.inicio {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.box-form-login {
  display: flex;
  flex-direction: column;
}
.box-form-login .formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-form-login .formLogin label {
  margin-top: 20px;
}
.box-form-login .formLogin input {
  border-radius: 10px;
  width: 40%;
  margin-top: 20px;
}
.box-form-login .formLogin .buttonsLogin {
  width: 35%;
  gap: 10px;
  margin-top: 20px;
}
.box-form-login .formLogin .buttonsLogin button {
  border-radius: 10px;
}
.box-form-login .loginGithub {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-form-login .loginGithub .pageGithub {
  text-decoration: none;
}
.box-form-login .loginGithub .pageGithub .buttonGithub {
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}
.box-form-login .loginGithub .pageGithub .buttonGithub svg path {
  transition: 400ms;
}
.box-form-login .loginGithub .pageGithub .buttonGithub:hover {
  background-color: transparent;
}
.box-form-login .loginGithub .pageGithub .buttonGithub:hover .textGithub {
  color: #181717;
}
.box-form-login .loginGithub .pageGithub .buttonGithub:hover svg path {
  fill: #181717;
}
.box-form-login .loginGithub .pageGithub .buttonGithub .textGithub {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}
.box-form-login .cambioPassword {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonRegister {
  width: 20%;
}

.register {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.box-form-register {
  display: flex;
  flex-direction: column;
}
.box-form-register .formRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-form-register .formRegister label {
  margin-top: 20px;
}
.box-form-register .formRegister input {
  border-radius: 10px;
  width: 40%;
  margin-top: 20px;
}
.box-form-register .formRegister button {
  width: 35%;
  gap: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.forget {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.box-form-forget {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.reset {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  background-color: red;
}

.perfil {
  margin-top: 100px;
}

.box-perfil {
  margin-top: 20px;
}
.box-perfil h4 {
  margin-top: 20px;
}
.box-perfil .form-logout {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  background-color: #16cc9b;
  border: 2px solid #16cc9b;
  color: #ffffff;
  transition: all 0.25s linear;
  cursor: pointer;
}

button::after {
  position: relative;
  right: 0;
  content: " ❯";
  transition: all 0.15s linear;
}

button:hover {
  background-color: #f58551;
  border-color: #f58551;
}

header.container {
  margin-bottom: 1.5rem;
}

header .breadcrumb {
  color: #7d7d7d;
}

header .breadcrumb li {
  float: left;
  padding: 0 6px;
  height: 20px;
  line-height: 20px;
}

header .breadcrumb li:first-child {
  padding-left: 2px;
}

header .breadcrumb li:not(:last-child)::after {
  content: " ❯";
  padding-left: 8px;
}

header .count {
  float: right;
  color: #333333;
  height: 20px;
  line-height: 20px;
}

/* --- PRODUCT LIST --- */
.products {
  border-top: 1px solid #ddd;
}

.products > li {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.rows {
  position: relative;
  overflow: auto;
  width: 100%;
}

.col,
.quantity,
.remove {
  float: left;
}

.col.left {
  width: 70%;
}

.col.right {
  width: 30%;
  position: absolute;
  right: 0;
  top: calc(50% - 30px);
}

.detail {
  padding: 0 0.5rem;
  line-height: 2.2rem;
}

.detail .name {
  font-size: 1.2rem;
}

.detail .description {
  color: #7d7d7d;
  font-size: 1rem;
}

.detail .price {
  font-size: 1.5rem;
}

.quantity,
.remove {
  width: 50%;
  text-align: center;
}

.remove svg {
  width: 60px;
  height: 60px;
}

.quantity > input {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  left: calc(50% - 30px);
  background: #fff;
  border: 2px solid #ddd;
  color: #7f7f7f;
  text-align: center;
  font: 600 1.5rem Helvetica, Arial, sans-serif;
}

.quantity > input:hover,
.quantity > input:focus {
  border-color: #f58551;
}

.close {
  fill: #7d7d7d;
  transition: color 150ms linear, background-color 150ms linear, fill 150ms linear, 150ms opacity linear;
  cursor: pointer;
}

.close:hover {
  fill: #f58551;
}

/* --- SUMMARY --- */
.promotion,
.summary,
.checkout {
  float: left;
  width: 100%;
  margin-top: 1.5rem;
}

.summary {
  font-size: 1.2rem;
  text-align: right;
}

.summary ul li {
  padding: 0.5rem 0;
}

.summary ul li span {
  display: inline-block;
  width: 30%;
}

.summary ul li.total {
  font-weight: bold;
}

.checkout {
  text-align: right;
}

.checkout > button {
  font-size: 1.2rem;
  padding: 0.8rem 2.8rem;
  border-radius: 1.5rem;
}

.empty-product {
  text-align: center;
}

.empty-product > button {
  font-size: 1.3rem;
  padding: 10px 30px;
  border-radius: 5px;
}

/* --- SMALL SCREEN --- */
@media all and (max-width: 599px) {
  .thumbnail img {
    display: none;
  }
  .quantity > input {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
  }
  .remove svg {
    width: 40px;
    height: 40px;
  }
}
/* --- MEDIUM & LARGE SCREEN --- */
@media all and (min-width: 600px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 75%;
    max-width: 960px;
  }
  .thumbnail,
  .detail {
    float: left;
  }
  .thumbnail {
    width: 35%;
  }
  .detail {
    width: 65%;
  }
  .promotion,
  .summary {
    width: 50%;
  }
  .checkout {
    width: 100%;
  }
  .checkout,
  .summary {
    text-align: right;
  }
}
/* --- LARGE SCREEN --- */
@media all and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
#paymentFormContainer {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.page-container {
  width: 100%;
  background: black;
  padding-top: 60px;
}

footer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 0 30px;
  color: white;
}
footer img {
  width: 300px;
}
footer .links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
footer .links .links-1 {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}
footer .links .links-1 h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #ebb589;
}
footer .links .socials-column .socials {
  display: flex;
  gap: 15px;
}
footer .links .socials-column .socials a {
  font-size: 24px;
  gap: 20px;
  text-decoration: none;
  color: #ebb589;
}

footer.top {
  border-bottom: 2px solid #ebb589;
  padding-bottom: 20px;
}

footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}
footer.bottom .legal {
  font-size: 12px;
}
footer.bottom .legal a {
  margin: 0 4px;
  text-decoration: none;
}
footer.bottom .legal span {
  margin-right: 10px;
}
footer.bottom .links {
  display: flex;
  gap: 18px;
}
footer.bottom .links a {
  font-size: 24px;
  text-decoration: none;
  color: #ebb589;
}

@media (width >= 620px) {
  footer {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
  }
}
@media (width < 620px) {
  footer {
    flex-direction: column;
  }
  footer.bottom {
    gap: 16px;
    flex-direction: column-reverse;
  }
}
@media (width < 420px) {
  footer {
    text-align: center;
    align-items: center;
  }
  footer.top .links {
    grid-template-columns: 1fr;
  }
  footer.bottom {
    align-items: center;
  }
  .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
  .socials-column :is(h2, p) {
    display: none;
  }
  .socials {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}
.navbar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.18);
  background: hsla(34, 100%, 59%, 0.425);
}

.navbar .navbar-brand img {
  max-width: 100px;
}

@media screen and (min-width: 1200px) {
  .navbar {
    letter-spacing: 0.05em;
  }
  .navbar-collapse .navbar-nav .nav-link {
    padding: 0.2em 1em;
  }
  .navbar .navbar-brand img {
    max-width: 7em;
  }
}
@media screen and (min-width: 768px) {
  .navbar .navbar-brand img {
    max-width: 6em;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .search-and-icons,
  .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .search-and-icons {
    width: 70%;
  }
  .navbar form {
    flex: 1;
  }
}
.navbar-collapse .navbar-nav .nav-link {
  color: #000;
}

.contact-info p {
  justify-content: center;
  font-size: 0.8em;
  padding-right: 1em;
  color: #000;
}

.contact-info a {
  color: #000;
  text-decoration: underline;
}

.user-icons div {
  padding-right: 1em;
  font-size: 1.2em;
  color: #000;
}

.navbar form input {
  border-radius: 0;
}

.navbar form input[type=search] {
  height: 2em;
  background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 95%;
}

.navbar form input[type=search]:focus {
  background: #fff;
  box-shadow: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

/*# sourceMappingURL=styles.css.map */
